@import 
url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
*{
	margin:0; /* 마진 리셋 */
	padding:0; /* 패딩 리셋 */
	box-sizing: border-box; /* 박스 영역은 테두리까지*/
}

a{
	text-decoration:none;
}

ul{
	list-style : none;
}

#container{
	margin:0 auto;
	width:1200px;
	background-color:#fff;
}

/* Header */
header{
	color: #fff;
	background-color:#045;
	width:100%;
	height:100px;
}
#logo{
	float:left;
	width:250px; /* 너비 */
	height:100px; /* 높이 */
	line-height:100px; /* 세로로 중간에 맞춤 - 줄간격을 높이 값과 같게 */
	padding-left:20px; /* 왼쪽에 여백 */
}

#logo h1{
	font-family:'Merienda', cursive;
	font-weight:700;
	font-size:40px; /* 글자 크기 */
	color:#fff; /* 글자 색 */
	text-shadow:0 -1px 0 #222; /* 그림자 색 */
}

li{
	width:400px;
}